body {
    margin: 0;
    background-color: #5A3E36;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin: 10px 0 5px;
    color: #FFE066;
}

h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.HUD{
    display: flex;
    justify-content: center;
    gap: 40px;
    background-color: #3B2A24;
    padding: 10px;
}

.HUD p {
    margin: 0;
}

canvas {
    display: block;
}